@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic)
@import partials/vars
@import partials/nav
@import partials/card
@import partials/list
@import partials/button
@import partials/input
@import partials/chart
@import partials/table
@import partials/footer

*
  box-sizing: border-box

body
  margin: 0
  margin-bottom: 150px
  font-family: Roboto
  background-color: #EEEEEE

  .container
    max-width: 750px
