.text-input
  display: block
  width: 100%
  padding: 10px 17px
  margin-bottom: 20px
  font-size: 24px
  background: #FAFAFA
  border: 1px solid #DBDBDB
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24)
  border-radius: 2px

.answers

  input[type="radio"]
      display: none

  label
      display: inline-block
      background-color: #DBDBDB
      padding: 7px 20px
      font-size: 18px
      border-radius: 2px

  input[type="radio"]:checked + label
      background-color: $main-blue
      color: #fff
