.list
  list-style-type: none
  margin: 0
  padding: 0

  li
    border-bottom: 1px solid #DBDBDB

    &:last-child
      border-bottom: none

    a
      text-decoration: none
      color: #202020
      padding: 15px
      border-radius: 2px
      display: block

      &:hover
        background-color: $main-blue
        color: #fff

        .pin
          color: #fff

      .pin
        margin-left: 0
        margin-right: 15px
        color: #4CAF50
